body {
  font-size: 1rem;
}

#footer {
  font-size: 0.875rem;
}

.feature-box h2, .feature-icon {
  text-align: center;
  color: #4a5050;
}

.feature-box p {
  text-align: justify;
}

.btn-lg {
  font-size: 1.1rem;
}

.carousel {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 800px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23222' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23222' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
