<!--
.. title: index
.. slug: index
.. date: 2019-01-08 15:34:02 UTC+03:00
.. tags: 
.. category: 
.. link: 
.. description: 
.. type: text
.. template: home.tmpl
-->

<div class="jumbotron pt-5 pb-5" style="background-image: url('/images/imaginario.png'); background-repeat: no-repeat; background-position: bottom right">

<h1 class="display-4">Imaginario</h1>

<p class="lead">A photo manager for the metadata freak.</p>
<p><a class="btn btn-primary btn-lg ml-5 mt-3" href="/releases.html" role="button">Download »</a></p>

</div>

<h2 class="text-center">Screenshots</h2>

<div id="indexCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#indexCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#indexCarousel" data-slide-to="1"></li>
    <li data-target="#indexCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block" src="/images/screenshots/Screenshot-find-menu.png" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block" src="/images/screenshots/Screenshot-import.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block" src="/images/screenshots/Screenshot-options.png" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#indexCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#indexCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<h2 class="text-center">Highlights</h2>

<div class="container">
  <div class="row">
    <div class="col-md-4">

      <div class="feature-box">
        <div class="feature-icon">
          <span class="fa-stack fa-3x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-user-check fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <h2><em>You</em> are in control</h2>
        <p>Just a photo manager: it doesn't impose a workflow on
        you, it doesn't move your photos around but instead it integrates with
        your preferred editing software.
        </p>
      </div>

    </div>
    <div class="col-md-4">

      <div class="feature-box">
        <div class="feature-icon">
          <span class="fa-stack fa-3x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-box-open fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <h2>Open source</h2>
        <p>Imaginario is open source software: everyone is welcome to
        contribute to its development.</p>
      </div>

    </div>
    <div class="col-md-4">

      <div class="feature-box">
        <div class="feature-icon">
          <span class="fa-stack fa-3x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-search fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <h2>Powerful search</h2>
        <p>Locate the photos you need in a couple of seconds. Combine time,
        location and tags to quickly find the subjects you are looking for.
        </p>
      </div>

    </div>
    <div class="col-md-4">

      <div class="feature-box">
        <div class="feature-icon">
          <span class="fa-stack fa-3x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-bolt fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <h2>Fast</h2>
        <p>Special care has been taken to optimize the architecture, to make
        it fast and responsive. Time consuming operations are run in the
        background.
        </p>
      </div>

    </div>
    <div class="col-md-4">

      <div class="feature-box">
        <div class="feature-icon">
          <span class="fa-stack fa-3x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-tags fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <h2>I &#10084; Metadata</h2>
        <p>Tags, along with time and location information,
        can be embedded in your photos or stored as sidecar files.</p>
      </div>

    </div>
    <div class="col-md-4">

      <div class="feature-box">
        <div class="feature-icon">
          <span class="fa-stack fa-3x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-cloud-upload-alt fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <h2>Upload everywhere</h2>
        <p>Use the perfect companion application, <a
        href="http://phototeleport.com">PhotoTeleport</a>, to upload your photos to a multitude of web
        sites.
        </p>
      </div>

    </div>
  </div>
</div>

<h2 class="text-center">Latest news</h2>

{{% post-list stop=5 %}}{{% /post-list %}}

<p>Read <a href="/news">more news here</a>.

